<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>OAuth2/Phoenix!</title>
    <link href="//maxcdn.bootstrapcdn.com/font-awesome/4.2.0/css/font-awesome.min.css" rel="stylesheet">
    <link rel="stylesheet" href="<%= static_path(@conn, "/css/app.css") %>">
  </head>

  <body>
    <div class="navbar navbar-inverse navbar-static-top">
      <div class="container">
        <div class="navbar-header">
          <a class="navbar-brand" href="/">OAuth2 Example</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
          <li>
            <a href="https://github.com/scrogson/oauth2_example">
              <i class="fa fa-github"></i>
              View on GitHub
            </a>
          </li>
        </ul>
      </div>
    </div>
    <div class="jumbotron">
      <span class="logo"></span>
      <h2>OAuth2/Phoenix Example Application!</h2>
      <p class="lead">
        This is an application to show an example of how to wire up
        <a href="https://github.com/scrogson/oauth2">OAuth2</a> with
        <a href="https://github.com/phoenixframework/phoenix">Phoenix</a>.
      </p>

      <br>
      <br>

      <iframe src="https://ghbtns.com/github-btn.html?user=scrogson&repo=oauth2_example&type=star&count=true&size=large&v=2" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>
      <iframe src="https://ghbtns.com/github-btn.html?user=scrogson&repo=oauth2_example&type=watch&count=true&size=large&v=2" frameborder="0" scrolling="0" width="160px" height="30px"></iframe>

      <%= if @current_user do %>
        <h2>Welcome, <%= @current_user["name"] %>!</h2>
        <img src="<%= @current_user["avatar_url"] %>" class="img-circle"/>
      <% else %>
        <br>
        <br>

        <a class="btn btn-primary btn-lg" href="<%= auth_path @conn, :index %>">
          <i class="fa fa-github"></i>
          Sign in with GitHub
        </a>
      <% end %>
    </div>

    <div class="container-fluid">
      <%= @inner %>
    </div>
    <script src="<%= static_path(@conn, "/js/app.js") %>"</script>
    <script>require("/web/static/app")</script>
  </body>
</html>
